@using Umbraco.Web.Models
@inherits UmbracoViewPage

@{
    var homePage = Model.AncestorOrSelf<Home>();
    var socailLinks = homePage.Value<IEnumerable<IPublishedElement>>("socalLinks");

}


<hr>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                @if (socailLinks != null && socailLinks.Any())
                {
                    <ul class="list-inline text-center">
                        @foreach (var item in socailLinks)
                                {

                                    var link = item.Value<Link>("link");
                                    var iconClass = item.Value<string>("iconClass");
                            <li class="list-inline-item">
                                <a href="@link.Url" target="@link.Target">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="@iconClass fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        }


                    </ul>

                }

                <p class="copyright text-muted">Copyright &copy; Freak nation 2020</p>
            </div>
        </div>
    </div>
</footer>