@inherits Umbraco.Web.Mvc.UmbracoViewPage
  <div style="background:transparent !important; padding:0px;" class="jumbotron">
      <h1 class="display-4" style="text-align:center">@Model.Value("page_title_two", fallback: Fallback.ToAncestors)</h1>
      <hr class="my-4">
    </div>