@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web

		
@*
    This snippet displays a list of links of the pages immediately under the top-most page in the content tree.
    This is the home page for a standard website.
    It also highlights the current active page/section in the navigation with the CSS class "current".





*@
    
@{
	var selection = Umbraco.Content(Guid.Parse("2cf9cbb3-1a80-4df9-950f-51d837d5a024"))
    .Children()
    .Where(x => x.IsVisible());
}
                    

    
  <div class="continer-fluid">
   
    <div class="row">
     
      <div class="col fluid-middle-column">
        
        <a href="/" aria-current="page" class="w-nav-brand ">
          <p>
           <img style="display: inline;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTrUSNZMdbuD8dABw5DDxlPqciFa0ITrzXzKQ&usqp=CAU" width="82" height="82" alt="" class="logo-image"/>Freaky Fashion    
          </p>
        </a>
    
    <nav class="navbar navbar-expand-lg navbar-light ">
      

    <div style="height: 73px" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        @foreach (var item in selection)
	    {
		<li class="nav-item">
			<a class="nav-link" href="@item.Url" >@item.Name</a>
		</li>
	    }
      </ul>
      
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-default  my-2 my-sm-0" type="submit">Search</button>
      </form>
      
    </div>
    </nav>
    </div>
    
  
</div>  
    
  
    </div>






