@inherits Umbraco.Web.Mvc.UmbracoViewPage

@{
    var title = Model.HasValue("Header_title") ? Model.Value("Header_title") : Model.Name;
    var subTitle = Model.HasValue("Header_Subtitle") ? Model.Value<string>("Header_Subtitle") : "";
    var image = Model.Value<IPublishedContent>("mainImage", fallback: Fallback.ToAncestors);

    string imageUrl = "";
    if (image != null)
    {
        imageUrl = image.GetCropUrl(width: 1903, height: 532);
    }


}


<!-- Page Header -->
<header class="masthead" style="@(!string.IsNullOrWhiteSpace(imageUrl) ? "background-image: url('"+imageUrl+"')" : null)">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>@title</h1>
                    @if (!string.IsNullOrWhiteSpace(subTitle))
                    {

                        <span class="subheading">@subTitle</span>
                    }
                    else
                    {
                        

                    }

                </div>
            </div>
        </div>
    </div>
</header>


